@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap|Allura:300,400,500,700');

/*----------------------------------------------------Navbar*/

body {
    overflow: hidden;
    
}

header {
    margin: 0;
    display: inline;
    
}


@media screen and (min-width: 540px) {
    .middle {
        display: none;
        width: 100%;
    }
  }

  .list-group-item {
      border: none;
  }




  