@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap|Allura:300,400,500,700');

/*---Navbar*/

@media only screen and (max-width: 280px) {
    .logo {
        display: none;
    }
}

/*------Footer*/


/*------Banner Media Queries*/

@media only screen and (min-width: 2500px) {
    .xxlarge-screen-banner-desktop {
        height: 66vh;
    }
}

@media only screen and (min-width: 2500px) {
    .xxlarge-screen-banner-weddings {
        height: 66vh;
    }
}

/*-------Home About*/

.about-text {
    text-align: start;
}

.desktop-about h1 {
    text-align: start;
}


/*------Contact Desktop Banner*/

.contact-desktop-banner {
    background-image: url(../images/cello-big.jpg);
    background-position: left top;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------Form Submission Mobile Banner*/
/*-----------add a overlay*/


/*-----Form Submission Desktop Banner*/
/*-----------add a overlay*/
.desktop-form-submission {
    background-image: url(../images/cello-big.jpg);
    background-position: left top;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.desktop-form-submissions p {
    color: white;
}