@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/*---Fonts*/

body {
    font-family: Open-Sans, sans-serif;
    
}

nav {
    text-transform: uppercase;
    letter-spacing: .2em;
}

@media only screen and (max-width: 450px) {
    nav {
        letter-spacing: normal;
        text-transform: none;
    }

}

.about h1 {
    text-transform: uppercase;
    letter-spacing: .2em; 

}

.prices h2 {
    text-transform: uppercase;
    letter-spacing: .2em; 
}

footer h5 {
    text-transform: uppercase;
}

footer .nav-item .nav-link {
    color: rgb(6, 85, 6);
}

footer .nav-item i {
    color: rgb(6, 85, 6);
}

/*---Navbar*/

@media only screen and (max-width: 320px) {
    .logo {
        display: none;
    }
}

/*------Home Page and Weddings Page */

.video iframe {
    width: 100%;
    height: 325px;
}

/*------Weddings Page*/

.prices i {
    color: palevioletred;
}

.prices h2 {
    text-align: center;
}

/*------Contact Page*/

@media only screen and (min-width: 576px) { 
    .center-form {
        max-width: 60%;
    }
}

@media only screen and (min-width: 2250px) {
    .center-form {
        max-width: 50%;
    }
}

.center-form h6 {
    font-style: italic;
    line-height: 150%;
}
/*------Form Submission Page*/

@media only screen and (min-width: 768px) {
    .form-sub {
        background-image: url(../images/cello-big.jpg);
        background-color: rgb(221, 134, 19);
        background-repeat: no-repeat;
        background-size: cover;
        height: 66vh;
        padding: 0;
    }
}
